<div class="ui-body-b ui-body ebook-header">
  <a href="/home"><img src="/images/logo.png"></a>
    <div data-role="navbar">
      <ul>
        <li><a href="#" data-icon="bars" id="sortByTitle">Title</a></li>
        <li><a href="#" data-icon="user" id="sortByAuthor">Author</a></li>
        <li><a href="#" data-icon="star" id="sortByRating">Rating</a></li>
        <li><a href="/upload" data-icon="arrow-u">Upload</a></li>
      </ul>
    </div><!-- /navbar -->
</div><!-- /container -->
