<div data-role="page" id="FileListPage">
    {{>navbar}}
    <div role="main" class="ui-content">
        <h3 class="ui-bar ui-bar-a ui-corner-all">All Files</h3>
        <div class="ui-body ui-body-a ui-corner-all">
            <ul>
            {{#each files}}
                <li><a href="{{path}}" target="_blank">{{name}}</a></li>
            {{/each}}
            </ul>
        </div>
    </div>
</div>
