<div data-role="page" id="HomePage">
    {{>navbar}}
    <div role="main" class="ui-content">
      <div class="ui-grid-b" id="allBooksGrid"></div>
    </div>
    <div align="center">
      <p><a href="/files">Show file list</a></p>
    </div>
</div>
