<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBook Library</title>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/flags.min.css">
    <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css" />
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="/src/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/src/lib/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="/src/lib/color-thief.min.js"></script>
    <script type="text/javascript" src="/src/home.page.js"></script>
    <script type="text/javascript" src="/src/upload.page.js"></script>
  </body>
</html>
